*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;

}

.container{
    text-align: center;
    width: 300px;
    margin: 100px auto;
}

img{
    width: 100%;

}

.avatar{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 2px;
    border: #0B3ED4 4px solid;
}

p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    color: #0D0D0D;
    opacity: 0.4;
}

p:hover{
    transition: 400ms;
    color: #0D0D0D;
    opacity: 1;
}


ul{
    list-style: none;
    margin: 45px 0px;
}

h1{
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

ul li a{
    background-image: linear-gradient(135deg, #0BA7D4,#0F0CF6);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.rodape p{
    font-weight: 500;
    font-size: 19px;
    color: #0D0D0D;
    opacity: 0.4;
}

.rodape p:hover{
    transition: 400ms;
    opacity: 1;
}

a:hover{
    text-decoration: underline;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.534);
    color: #fff;
}